{% extends 'TaskForce/layout.html' %}

{% block title %}
    Новое задание
{% endblock %}

{% block cities %}
    {% for city in cities %}
        <option value="{{ city.0 }}">{{ city.1 }}</option>
    {% endfor %}
{% endblock %}

{% block content %}
    <section class="create-task-form">
        <h1>Публикация нового задания</h1>
        <hr color="#f1f2f6">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% if form.non_field_errors %}
            <ul>
                {% for error in form.non_field_errors %}
                    <li><em>{{ error|escape }}</em></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% for field in form.visible_fields %}
            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li><em>{{ error|escape }}</em></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ field.label_tag }}<br>{{ field }}<br>{{ field.help_text }}
        {% endfor %}
        <hr width="800">
        <input type="submit" value="Добавить" class="btn">
    </form>
    </section>
{% endblock %}